**/bin/**
.vs/**
**/obj/**
/*.suo
/packages/NUnit.*
/packages/CommonServiceLocator.*
/packages/Expression.Blend.Sdk.*
/packages/Prism.*
/packages/Plainion.*
/packages/WPFToolkit.*
/packages/Mono.Cecil.*
/packages/AvalonEdit.*
/packages/Akka.*
/packages/Newtonsoft.Json.*
/packages/Google.ProtocolBuffers.*
/packages/Helios.*
/TestResult.xml
/Plainion.GraphViz.gc.ssmosett
/build/.fake
/packages/FSharp.Core.*
/packages/Markdig.*
/packages/Suave.*
*.suo
